@import "bootstrap-sprockets";
@import "bootstrap";
@import "bulma";
@import "reset.css";
@import "users.css";

.bg-image {
  background-image: url(images/t02200299_0472064210643240162.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}